body {
    background: rgb(50,50,50);
    background: linear-gradient(45deg, rgba(50,50,50,1) 0%, rgba(22,22,22,1) 100%);
    background-attachment: fixed;
    color: #FAF9F6;
}

.border-white {
    border: 1px solid #A3A3A3;
}

#create-issue {
    max-width: 10em;
    margin: 1em;
}